asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
beautifulsoup4==4.7.1
blinker==1.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cloud-init==18.2
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
distro-info==0.18
futures==3.1.1
goslate==1.5.1
httplib2==0.9.2
hyperlink==17.3.1
idna==2.8
incremental==16.10.1
Jinja2==2.10
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
MarkupSafe==1.0
oauthlib==2.0.6
PAM==0.4.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
PyDictionary==1.5.2
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyserial==3.4
python-apt==1.6.2
python-debian==0.1.32
pyxdg==0.25
PyYAML==3.12
requests==2.21.0
requests-unixsocket==0.1.5
SecretStorage==2.3.1
service-identity==16.0.0
six==1.11.0
soupsieve==1.9
ssh-import-id==5.7
systemd-python==234
Twisted==17.9.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==16.4.3
wikipedia==1.4.0
zope.interface==4.3.2
